{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer lieu
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <style>
        #maCarte{
            height: 400px;
            width: 400px;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Créer un lieu</h2>

    <div id="maCarte"></div>
    <br>

    {{ form_start(lieuForm) }}
        {{ form_label(lieuForm.nom) }}
        {{ form_widget(lieuForm.nom ) }}
        {{ form_errors(lieuForm.nom) }}

        {{ form_label(lieuForm.rue) }}
        {{ form_widget(lieuForm.rue, { 'attr': {'id': 'rue'} }) }}
        {{ form_errors(lieuForm.rue) }}

        {{ form_label(lieuForm.latitude) }}
        {{ form_widget(lieuForm.latitude, { 'attr': {'id': 'lat'} }) }}
        {{ form_errors(lieuForm.latitude) }}

        {{ form_label(lieuForm.longitude) }}
        {{ form_widget(lieuForm.longitude, { 'attr': {'id': 'lon'} }) }}
        {{ form_errors(lieuForm.longitude) }}

        {{ form_label(lieuForm.ville) }}
        {{ form_widget(lieuForm.ville, { 'attr': {'id': 'ville'} }) }}
        {{ form_errors(lieuForm.ville) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <button class="btn btn-dark">Créer le lieu</button>

    {{ form_end(lieuForm) }}



    {% block javascripts %}
            {{ parent() }}


        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>

        <script>

            //Initialisation de a carte
            const carte = L.map('maCarte').setView([48.29519691115483, -1.4338308817447634], 13);

            //Chargement des tuiles
            //alternative : https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 18
            }).addTo(carte);

            //Personnalisation du marqueur
            let icone = L.icon({
                iconUrl: "{{ asset('img/icon/pointeur.png') }}",
                iconSize: [50, 50],
                iconAnchor: [25, 50],
                popupAnchor: [0, -50]
            });

            //Affichage du marqueur
            L.marker([48.29519691115483, -1.4338308817447634], {icon: icone}).addTo(carte)
                .bindPopup('<p>Sélectionnez un lieu<p>')
                .openPopup();





            window.onload = () => {
                //document.querySelector("#ville").addEventListener("blur",getCity);}
            }
        </script>
        {% endblock %}
{% endblock %}