{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Se connecter
{% endblock %}

{% block body %}


    {% if error %}
        <p class="app-flash-error">Les informations saisies sont incorrectes</p>
    {% endif %}

    {% if app.user %}
        <p>
            Vous êtes connectés en tant que {{ app.user.pseudo }}, {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        </p>
    {% else %}
        <h3>Connectez-vous :</h3>
        <form method="post">
            <label for="inputEmail">Email ou pseudo</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="app-form-checkbox">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <button type="submit" class="btn btn-dark">
                Se connecter
            </button>
        </form>
    {% endif %}
{% endblock %}



