{% extends 'base.html.twig' %}

{% block body %}



    <h4>Administration des participants </h4>
    <br>
    <div id="table-wrapper">

        <table>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Statut</th>
                <th></th>
            </tr>
            </thead>
            <div>
                <tbody>
                {% for p in participants %}

                    <tr>
                        <td>{{ p.pseudo }}</td>
                        <td>{{ p.prenom~' '}}{{ p.nom }}</td>

                        {# Désactive les boutons de suppression/modification sur les admin #}
                        {% if p.admin == 0 %}
                        <td>
                            {% if p.actif == 1 %}
                                <a href="{{ path('participant_desactiver', {'id': p.id}) }}">actif</a>
                            {% else %}
                                <a href="{{ path('participant_activer', {'id': p.id}) }}">inactif</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#">Supprimer</a>
                        </td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}

                    </tr>

                {% endfor %}
                </tbody>
            </div>
        </table>

    </div>



    {# A transfrer dans app.css #}
    <style>

        #table-wrapper {
            position:relative;
            width: 800px;
            height: 400px;
        }

        table {
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 100%;
        }
        table thead {
            /* head takes the height it requires,
            and it's not scaled when table is resized */
            flex: 0 0 auto;
            width: calc(100% - 0.9em);
        }
        table tbody {
            /* body takes all the remaining available space */
            flex: 1 1 auto;
            display: block;
            overflow-y: scroll;
        }
        table tbody tr {
            width: 100%;
        }
        table thead, table tbody tr {
            display: table;
            table-layout: fixed;
        }

    </style>

{% endblock %}

{% block title %}

{% endblock %}

