{% extends 'base.html.twig' %}

{% block body %}

    <h3>Modifier le mot de passe</h3>

    {{ form_start(participantForm) }}

        {{ form_label(participantForm.oldpassword) }}
        {{ form_widget(participantForm.oldpassword) }}
        {{ form_errors(participantForm.oldpassword) }}

        {{ form_label(participantForm.password) }}
        {{ form_widget(participantForm.password) }}
        {{ form_errors(participantForm.password) }}

        {{ form_label(participantForm.confirmpassword) }}
        {{ form_widget(participantForm.confirmpassword) }}
        {{ form_errors(participantForm.confirmpassword) }}

        <div class="app-form-buttons">
            <button class="btn btn-dark">Envoyer</button>
            <a href="{{ path('participant_gestionProfil') }}">
                <span class="btn btn-dark">Annuler</span>
            </a>
        </div>

    {{ form_end(participantForm) }}

{% endblock %}

{% block title %}
    {{ parent() }} | Mot de passe
{% endblock %}

