{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}
{% block stylesheets %}{% endblock %}

 {% block body %}
     <h2>Mon profil</h2>
     <img class="app-photo-profil" src="{{ asset('img/photos/'~participant.photo) }}" alt="">
     {{ form_start(participantForm) }}
     {{ form_widget(participantForm) }}
     <button>Enregistrer</button>
     {{ form_end(participantForm) }}

     <button>Annuler</button>

     {# A replacer dans app.css  #}
     <style>
         .app-photo-profil {
             width: 300px;
             height: 300px;
         }
     </style>
 {% endblock %}

 {% block javascripts %}{% endblock %}