{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}
{% block stylesheets %}{% endblock %}

 {% block body %}
     <h2>Mon profil</h2>
     <img class="app-photo-profil" src="{{ asset('img/photos/'~participant.photo) }}" alt="photo du participant">
     {{ form_start(participantForm) }}
     {{ form_widget(participantForm) }}
     <button>Enregistrer</button>
     {{ form_end(participantForm) }}
     <a href="{{ path('sortie_list') }}">
         <button>Annuler</button>
     </a>
     <br>
     <a href="{{ path('participant_gestionMDP') }}">
         <button>Modifier le mot de passe</button>
     </a>


     {# A replacer dans app.css  #}
     <style>
         .app-photo-profil {
             width: 300px;
             height: 300px;
         }
     </style>
 {% endblock %}

 {% block javascripts %}{% endblock %}