{% extends 'base.html.twig' %}

{% block body %}



    <h4>Administration des sorties </h4>
    <br>
    <div id="table-wrapper">

        <table>
            <thead>
            <tr>
                <th>Sortie</th>
                <th>Organisateur</th>
                <th>Campus</th>
                <th>Lieu</th>
                <th>Ville</th>
                <th>Etat</th>
                <th></th>
            </tr>
            </thead>
            <div>
                <tbody>
                {% for s in sorties %}

                    <tr>
                        <td>{{ s.nom }}</td>
                        <td>{{ s.organisateur.prenom~' '}}{{ s.organisateur.nom }}</td>
                        <td>{{ s.campus.nom }}</td>
                        <td>{{ s.lieu.nom }}</td>
                        <td>{{ s.lieu.ville.nom }}</td>
                        <td>{{ s.etat.libelle }}</td>

                        {# Désactive le bouton d'annulation sur les sorties organisées par les admin #}
                        {% if s.organisateur.admin == 0 %}
                            <td>
                                {# {{ path('participant_desactiver', {'id': p.id}) }} #}
                                {% if s.etat.id == 1 or s.etat.id == 2 %}
                                    <a href="{{ path('admin_sortie_cancel', {'id': s.id}) }}" onclick="return confirm('Etes-vous certain de vouloir annuler cette sortie ?')">Annuler</a>
                                {% endif %}
                            </td>

                        {% else %}
                            <td></td>
                        {% endif %}

                    </tr>

                {% endfor %}
                </tbody>
            </div>
        </table>

    </div>


    {# A transfrer dans app.css #}
    <style>
        /* Section tableau */
        #table-wrapper {
            position:relative;
            width: 1400px;
            height: 400px;
        }

        table {
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 100%;
        }
        table thead {
            /* head takes the height it requires,
            and it's not scaled when table is resized */
            flex: 0 0 auto;
            width: calc(100% - 0.9em);
        }
        table tbody {
            /* body takes all the remaining available space */
            flex: 1 1 auto;
            display: block;
            overflow-y: scroll;
        }
        table tbody tr {
            width: 100%;
        }
        table thead, table tbody tr {
            display: table;
            table-layout: fixed;
        }

    </style>
    <script>
        // Section modal
        document.getElementById('button').addEventListener("click", function() {
            document.querySelector('.bg-modal').style.display = "flex";
        });

        document.querySelector('.close').addEventListener("click", function() {
            document.querySelector('.bg-modal').style.display = "none";
        });
    </script>

{% endblock %}

{% block title %}

{% endblock %}

