{% extends 'base.html.twig' %}

{% block body %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .my-custom-scrollbar {
            position:relative;
            width: 1500px;
            height: 600px;
            overflow: auto;
        }
        .table-wrapper-scroll-y {
            display: block;
        }
        h3{
            text-align: center;

        }
        a{
            text-decoration: none;
            color:#000000;
        }
    </style>
{% endblock %}


    <h4>Administration des sorties </h4>
    <br>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">Sortie</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Campus</th>
                <th scope="col">Lieu</th>
                <th scope="col">Ville</th>
                <th scope="col">Etat</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <div>
                <tbody>
                {% for s in sorties %}

                    <tr>
                        <td>{{ s.nom }}</td>
                        <td>{{ s.organisateur.prenom~' '}}{{ s.organisateur.nom }}</td>
                        <td>{{ s.campus.nom }}</td>
                        <td>{{ s.lieu.nom }}</td>
                        <td>{{ s.lieu.ville.nom }}</td>
                        <td>{{ s.etat.libelle }}</td>

                        {# Désactive le bouton d'annulation sur les sorties organisées par les admin #}
                        {% if s.organisateur.admin == 0 %}
                            <td>
                                {# {{ path('participant_desactiver', {'id': p.id}) }} #}
                                {% if s.etat.id == 1 or s.etat.id == 2 %}
                                    <a class="btn btn-sm btn-danger" href="{{ path('admin_sortie_cancel', {'id': s.id}) }}" onclick="return confirm('Etes-vous certain de vouloir annuler cette sortie ?')">Annuler</a>
                                {% endif %}
                            </td>

                        {% else %}
                            <td></td>
                        {% endif %}

                    </tr>

                {% endfor %}
                </tbody>
            </div>
        </table>

    </div>


{% endblock %}

{% block title %}

{% endblock %}

