{% extends 'base.html.twig' %}
{% block title %}{{ parent()}} | sortie{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .my-custom-scrollbar {
            position:relative;
            width: 700px;
            height: 150px;
            overflow: auto;
        }
        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Afficher une sortie</h2>

    <label for="">Nom de la sortie : </label><output>{{ sortie.nom }}</output>
    <br>
    <label for="">Date et heure de la sortie : </label><output>{{ sortie.dateHeureDebut|date('d-m-Y H:i', 'Europe/Paris') }}</output>
    <br>
    <label for="">Date limite d'inscription : </label><output>{{ sortie.dateLimiteInscription|date('d-m-Y', 'Europe/Paris') }}</output>
    <br>
    <label for="">Nombre de places : </label><output>{{ sortie.nbInscriptionsMax }}</output>
    <br>
    <label for="">Durée : </label><output>{{ sortie.duree }} minutes</output>
    <br>
    <label for="">Description et infos : </label><output>{{ sortie.infosSortie }}</output>
    <br>
    <label for="">Campus : </label><output>{{ sortie.campus.nom }}</output>
    <br>
    <label for="">Lieu : </label><output>{{ sortie.lieu.nom }}</output>
    <br>
    <label for="">Rue : </label><output>{{ sortie.lieu.rue }}</output>
    <br>
    <label for="">Code postal : </label><output>{{ sortie.lieu.ville.codePostal }}</output>
    <br>
    <label for="">Latitude : </label><output>{{ sortie.lieu.latitude }}</output>
    <br>
    <label for="">Longitude : </label><output>{{ sortie.lieu.longitude }}</output>


    <br><br>
    <h4>Liste des participants inscrits : </h4>

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">


            <thead>
            <tr>
                <th scope = "col">Pseudo</th>
                <th scope ="col">Nom</th>
            </tr>
            </thead>

            <tbody>
            {% for p in sortie.participants %}
                <tr>
                    <td>{{ p.pseudo }}</td>
                    <td>{{ p.prenom~' '}}{{ p.nom }}</td>
                </tr>
            {% endfor %}

        </table>

    </div>

{% endblock %}






