{% extends 'base.html.twig' %}

{% block body %}
    <h2>Afficher une sortie</h2>

    <label for="">Nom de la sortie : </label><output>{{ sortie.nom }}</output>
    <br>
    <label for="">Date et heure de la sortie : </label><output{{ sortie.dateHeureDebut|date('d-m-Y') }}></output>
    <br>
    <label for="">Date limite d'inscription : </label><output>{{ sortie.dateLimiteInscription|date('d-m-Y') }}</output>
    <br>
    <label for="">Nombre de places : </label><output>{{ sortie.nbInscriptionsMax }}</output>
    <br>
    <label for="">Durée : </label><output>{{ sortie.duree }} minutes</output>
    <br>
    <label for="">Description et infos : </label><output>{{ sortie.infosSortie }}</output>
    <br>
    <label for="">Campus : </label><output>{{ sortie.campus.nom }}</output>
    <br>
    <label for="">Lieu : </label><output>{{ sortie.lieu.nom }}</output>
    <br>
    <label for="">Rue : </label><output>{{ sortie.lieu.rue }}</output>
    <br>
    <label for="">Code postal : </label><output>{{ sortie.lieu.ville.codePostal }}</output>
    <br>
    <label for="">Latitude : </label><output>{{ sortie.lieu.latitude }}</output>
    <br>
    <label for="">Longitude : </label><output>{{ sortie.lieu.longitude }}</output>


    <br><br>
    <h3>Liste des participants inscrits : </h3>



{% endblock %}

{% block title %}

{% endblock %}

