{% extends 'base.html.twig' %}


{% block title %}{{ parent()}} | Modifier une sortie{% endblock %}

{% block body %}
    <div class="example-wrapper" style ="margin-top :50px;">





            {{form_start(updateForm)}}
            <p style="margin: auto;">{{form_row(updateForm.nom) }}</p>
            <p style="margin: auto;">{{form_row(updateForm.dateHeureDebut) }}</p>
            <p style="margin: auto;">{{form_row(updateForm.duree) }}</p>
            <p style="margin: auto;">{{form_row(updateForm.dateLimiteInscription) }}</p>
            <p style="margin: auto;">{{form_row(updateForm.nbInscriptionsMax) }}</p>
            <p style="margin: auto;">{{form_row(updateForm.infosSortie) }}</p>
            <p style="margin: auto;">{{form_row(updateForm.lieu) }}</p>
            <p style="margin: auto;">{{form_row(updateForm.campus) }}</p>





        </div>



        <p style="margin: auto;">{{form_row(updateForm.latitude) }}</p>
        <p style="margin: auto;">{{form_row(updateForm.longitude) }}</p>

        <div style ="margin-top : 20px;margin-bottom: 20px">
            <a href ="{{ path('sortie_list') }}" title ="Créer une liste">
                <button type="submit" class="btn btn-dark" style ="border-radius: 5px; ">Enregistrer</button>
            </a>
            <a href ="{{ path('sortie_list') }}" title ="Publier une liste">
                <button type="submit" class="btn btn-dark" style ="border-radius: 5px; ">Publier</button>
            </a>
            <a href ="{{ path('sortie_list') }}" title ="Publier une liste">
                <button type="submit" class="btn btn-dark" style ="border-radius: 5px; ">Supprimer</button>
            </a>
            <a href ="{{ path('sortie_list') }}" title ="Annuler une liste">
                <button type="reset" class="btn btn-dark" style ="border-radius: 5px; ">Annuler</button>
            </a>
        </div>

        {{form_end(updateForm)}}




    </div>


{% endblock %}