{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Modifier une sortie{% endblock %}

{% block body %}
    <h3>Modifier une sortie</h3>
    {{form_start(updateForm)}}

        {{form_label(updateForm.nom) }}
        {{form_widget(updateForm.nom) }}
        {{form_errors(updateForm.nom) }}

        {{form_label(updateForm.dateHeureDebut) }}
        {{form_widget(updateForm.dateHeureDebut) }}
        {{form_errors(updateForm.dateHeureDebut) }}

        {{form_label(updateForm.dateLimiteInscription) }}
        {{form_widget(updateForm.dateLimiteInscription) }}
        {{form_errors(updateForm.dateLimiteInscription) }}

        {{form_label(updateForm.nbInscriptionsMax) }}
        {{form_widget(updateForm.nbInscriptionsMax) }}
        {{form_errors(updateForm.nbInscriptionsMax) }}

        {{form_label(updateForm.duree) }}
        <div>
            {{form_widget(updateForm.duree) }} minutes
        </div>
        {{form_errors(updateForm.duree) }}

        {{form_label(updateForm.infosSortie) }}
        {{form_widget(updateForm.infosSortie) }}
        {{form_errors(updateForm.infosSortie) }}

        <label>Campus</label>
        <span>{{ app.user.campus.nom }}</span>

        {{form_label(updateForm.ville) }}
        {{form_widget(updateForm.ville) }}
        {{form_errors(updateForm.ville) }}

        <input type="hidden" id="idSortie" value="{{ sortie.id }}">

        {{form_label(updateForm.lieu) }}

        <div>
            {{form_widget(updateForm.lieu) }}
            <a href = "{{ path('lieu_create') }}" title="signe"><img src="{{ asset('img/signe plus.png') }}"></a>
        </div>
        {{form_errors(updateForm.lieu) }}

        <div class="app-form-buttons">
            <a href ="{{ path('sortie_list') }}" title ="Enregistrer les modifications">
                <button type="submit" class="btn btn-dark" style ="border-radius: 5px; ">Enregistrer</button>
            </a>
            <a href ="{{ path('sortie_publish', {'id': sortie.id}) }}" title ="Publier la sortie">
                <span class="btn btn-dark" style ="border-radius: 5px; ">Publier</span>
            </a>
            <a href ="{{ path('sortie_delete', {'id': sortie.id}) }}" title ="Supprimer la sortie">
                <span class="btn btn-dark" style ="border-radius: 5px; ">Supprimer</span>
            </a>
            <a href ="{{ path('sortie_cancel', {'id': sortie.id}) }}" title ="Annuler la sortie">
                <span class="btn btn-dark" style ="border-radius: 5px; ">Annuler</span>
            </a>
        </div>

    {{form_end(updateForm)}}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/select-lieux-update-sortie.js') }}"></script>
{% endblock %}